
{% load staticfiles %}

{% block testimonios %}
  <!-- Mostrara los tres  testimonios mas actuales  
  para ver todos haran click en el boton de ver todos los testimonios-->
  <!-- Start Blog Area -->
  <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
      <div class="blog-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Testimonios</h2>
            </div>
          </div>
        </div>
        <div class="row">
        {% if testimonios_list %}
        	{% for testi in testimonios_list %}
          <!-- Start Left Blog -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="blog.html">
				{% load my_templatetag %}
                  	<iframe src="{{ testi.video|embebido_uris }}" width="360" height="224" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  	</iframe>
				</a>
              </div>
              <div class="blog-meta">
                <span class="date-type">
					<i class="fa fa-calendar"></i>{{ testi.fecha_hora.date }} {{ testi.fecha_hora.time }}
				</span>
              </div>
              <div class="blog-text">
                <h4>
					<a href="blog.html">{{ testi.id_exalumno.nombres }}</a>
				</h4>
                <p>
                	{{ testi.testimonio }}
                </p>
              </div>
              
            </div>
            <!-- Start single blog -->
          </div>
          	{% endfor %}
          {% endif %}
          <!-- End Left Blog-->
          
          <!-- End Right Blog-->
          <!--btn ver mas testimonios -->
          <br/>
          <div  class = "single-blog" style="text-align: center;">
          	<span>
				<a href="/testimonios_all" class="ready-btn">VER MÁS TESTIMONIOS</a>
			</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Blog -->
{% endblock %}