  <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MAlla {{ malla_actual.nombre }}</h4>
        </div>
        <div class="modal-body">
          <h5> 
              <p>Fecha de inicio: {{ malla_actual.fecha_inicio }} 
              <p>Fecha de cierre: {{ malla_actual.fecha_fin }}</p>
          </h5>
          <br/>
          <h5>Descripción: </h5>
          <p>{{ malla_actual.descripcion }}</p>
          <p>Nro de ciclos: {{ malla_actual.nro_ciclos }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>